# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3

# Virtual environment
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# VSCode settings
.vscode/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Static files
staticfiles/
media/

# Local files
*.local

# IDE settings
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
